.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


html
{
    background-color: #2a6797;
    font-family: Verdana, sans-serif;
}

#ToernooiText
{
    font-weight: bold;
    font-size: 30px;
    color: #2a6797;
}
#ToernooiText:hover
{
    color: #ff9623 ;
    font-size: 33px;
}

#NavBarText
{
    font-weight: 600;
    font-size: 22px;
}

#NavBarTextSpelersToevoegen:hover
{
    font-weight: bold;
    color: #ff9623 ;
    font-size: 25px;
}

#NavBarTextToernooiOnderhoud:hover
{
    font-weight: bold;
    font-size: 25px;
    color: #ff9623 ;
}

.FormText
{
    font-weight: bold;
    font-size: 37px;
}




body {font-family: Verdana, sans-serif; background-size: cover;min-height: 100%;margin: 0;}
    #toernooi {overflow:hidden;background-color: #2a6797;background-color: #2a6797;padding-top: 20px;font-size: 12px;padding: 40px 0;}
    .container {max-width: 1100px;margin: 0 auto;display:block;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: -webkit-flex;display: flex;-webkit-flex-direction:row;flex-direction: row;}
    .split {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;width: 42%;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;}
    .champion {float:left;display:block;width: 16%;-webkit-flex-direction:row;flex-direction:row;-webkit-align-self:center;align-self:center;margin-top: -5px;text-align: center;padding: 230px 0\9;}
    .champion i {color: #a0a6a8; font-size: 45px;padding: 10px 0; }
    .ronde {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;width:31%;width:30.8333%\9; margin: 0 2.5% 0 0;}
    .split-two {}
    .split-one .ronde {margin: 0 2.5% 0 0;}
    .split-two .ronde {margin: 0 0 0 2.5%;}
    .wedstrijd {margin:0;width: 115%;padding: 10px 0;height:60px;-webkit-transition: all 0.2s;transition: all 0.2s;}
    .score {font-size: 11px;text-transform: uppercase;float: right;color: #2C7399;font-weight: bold;font-family: 'Roboto Condensed', sans-serif;position: absolute;right: 5px;}
    .speler {padding: 0 5px;margin: 3px 0;height: 25px; line-height: 25px;white-space: nowrap; overflow: hidden;position: relative;}
    .ronde-twee .wedstrijd {margin:0; height: 60px;padding: 55px 0; width: 200%; margin-left: 100px;}
    .ronde-drie .wedstrijd {margin:0; height: 60px; padding: 110px 0; width: 200%; margin-left: 133px;}
    .ronde-details {font-family: ' ', sans-serif; font-size: 13px; color: white;text-transform: uppercase;text-align: center;height: 10px;}
    .champion li, .ronde li {background-color: #fff;box-shadow: none; opacity: 1;}
    .ronde-een li {opacity: 1;}
    .ronde-een li.speler {background-color: #fff;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);opacity: 1; width: 150%;}
    .vote-options {display: block;height: 52px;}
    .share .container {margin: 0 auto; text-align: center;}
    .share-icon {font-size: 24px; color: #fff;padding: 25px;}
    .share-wrap {max-width: 1100px; text-align: center; margin: 60px auto;}
    .final {margin: 4.5em 0; width: 200%; margin-left: 210px;}



